@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&display=swap');

$white-001: #fff;
$white-002: #ECECEC;
$cream-003: #F0F0E6;
$white-004: #C4C4C4;
$green-001: #029C56;
$green-002: #007640;
$orange-001:#FFBB62;
$orange-002: #FF8C62;
$red-001: #E34D4D;
$black-001: #363636;
$black-002: #202020;
$black-003:#121212;


// font size 
$head-xl: 72px;
$head-lg: 68px;
$head-md: 54px;
$head-sm: 36px;
$text-xl: 34px;
$text-lg: 24px;
$text-md: 20px;
$text-sm: 18px;
$text-xs: 16px;

$round: 10px;

$font-400: 400;
$font-500: 500;
$font-700: 700;
